{% extends 'medewerker.html.twig' %}

{% block title %}Edit Soortactiviteit{% endblock %}

{% block menu %}
    <li><a href="{{ path('admin/index') }}">home</a></li>
    <li><a href="{{ path('admin/activiteiten') }}"><span class="badge">{{ activiteiten|length }}</span>beheer</a></li>
    <li class="active"><a href="{{ path('admin/soortactiviteiten') }}"><span class="badge">{{ soortactiviteiten|length }}</span> soortactiviteiten</a></li>
{% endblock %}

{% block content %}
    <h1>Edit Soortactiviteit</h1>

    {{ include('medewerker/soortactiviteiten/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin/soortactiviteiten') }}">back to list</a>

    {{ include('medewerker/soortactiviteiten/_delete_form.html.twig') }}
{% endblock %}
